/* chat background-color: #EFF1F2
	button background-color: #FF1940;
	send color: #4A90E2;
*/

body {
	font-family: "Helvetica Neue";
	font-size: 16px;
	margin: 0;
	top: 0;
	padding: 0;
}
#app {
	margin: 0;
	top:0;
}
p {
	font-weight: 200;
}
input {
	border-radius: 3px;
}
button {
	border-radius: 3px;
}

.tbl {
	display: table;
    width: 100%;
}
.tbl-row {
	display: table-row;
}
.tbl-cel {
	display: table-cell;
}
#logIn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px
}

#logIn input[type=text] {
	padding: 10px 15px;
	width: 268px;
	margin: 10px;
	border: 1px solid #999;
}

#logIn button {
	color: #fff;
	text-align: center;
	padding: 10px 15px;
	width: 300px;
	margin: 10px;
	border: 1px solid #FF1940;
	background-color: #FF1940;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.leftColList {
    height: 100%;
    padding-top: 40px;
}

.leftColListItem {
    font-size: 20px;
    font-weight: 200;
    padding: 10px 0;
}
.container {
	padding: 20px;
}
.leftCol {
	width: 240px;
	background-color: #FF1940;
	left: 0;
	top: 0;
	bottom: 0;
	color: #fff;
	overflow: auto;
	position: fixed;
}

.userName {
	font-size: 28px;
	font-weight: 600;
}

.onlineTime {
	font-size: 14px;
}

.right-container {
	padding-left: 240px;
	padding: absolute;
	height: 100vh;
	background-color: #EFF1F2;
}

.other_user {

}

.incoming_message {
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid #fff;
	min-width: 50%;
	max-width: 400px;
}

.heading {
	height: 100px;	
	box-shadow: 0 2px 0 #f1f1f1;
	position: fixed;
	top: 0;
	right: 0;
	left: 240px;
	background-color: #fff;
}
.content {
	margin-top: 100px;
	margin-bottom: 80px;
}
.textCenter {
	text-align: center;
}
.chatbox {
	bottom: 0;
	height: 80px;
	right: 0;
	left: 240px;
	position: fixed;
	box-shadow: 2px 0 0 #f1f1f1;
	background-color: #fff;
}
#messagebox {
	width: 100%;
}
#messagebox input[type=text]{
	border: solid 1px #EFF1F2;
	padding: 10px;
	width: calc(100% - 140px);
	font-size: 16px;
}
#messagebox input[type=submit] {
	border: none;
	background: none;
	color: #4a90e2;
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
	float: right;
	width: 100px;
}